{% extends 'auth/base.html' %}

{% block title %}Password reset{% endblock title %}

{% block content %}

<div class="d-flex justify-content-center">
        <h3 id="form-title">Password reset complete</h3>
        
    </div>
    <h5 id="form-text">Your new password has been set. You can log in now on the</h5>		

    <div class="mt-4">
        <div class="d-flex justify-content-center links">
            Back to LogIn <a href="{% url 'login' %}" class="ml-2">Log In</a>
        </div>
    </div>

{% endblock content %}
