{% extends 'auth/base.html' %}

{% block title %}Check inbox{% endblock title %}

{% block content %}
    <div class="d-flex justify-content-center">
        <h3 id="form-title">Check your inbox.</h3>
        
    </div>
    <h5 id="form-text">We've emailed you instructions for setting your password. You should receive the email shortly!</h5>		

    <div class="mt-4">
        <div class="d-flex justify-content-center links">
            Don't have an account? <a href="{% url 'register' %}" class="ml-2">Sign Up</a>
        </div>

    </div>
{% endblock content %}
